@model List<LeThanhLong_DoAn.Models.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@section Main
{
    <div class="container">
        <div class="row row-cols-1 row-cols-md-5 g-4">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card" style="height:500px">
                        <img src="~/img/@item.HinhAnh" class="card-img-top" style="height:40%" />
                        <div class="card-body">
                            <h5 class="card-title" style="color:blue; height:50%">@item.TenSanPham</h5>
                            <p class="card-text">
                                <small class="text-muted">
                                    Thương hiệu: @item.ThuongHieu.TenThuongHieu
                                </small>
                            </p>
                            <h6 class="card-text" style="font-weight:bold">@item.Gia.ToString("C")</h6> 
                            <a href="#" class="btn btn-success" style="text-align:center; width:100%">Chọn mua</a>                                                    
                        </div>                                                                                                                                 
                    </div>
                </div>
            }
        </div>
        <div style="padding-top:10px">
            <tr>
                <td colspan="7">
                    @{
                        int leftPage = ViewBag.page - 1;
                        if (leftPage <= 0)
                        {
                            leftPage = 1;
                        }
                        int rightPage = ViewBag.page + 1;
                        if (rightPage > ViewBag.soTrang)
                        {
                            rightPage = ViewBag.soTrang;
                        }
                    }
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="/sanpham/index?page=@leftPage">
                                <<
                            </a>
                        </li>
                        @for (int i = 0; i < ViewBag.soTrang; i++)
                        {
                            if (i + 1 == ViewBag.page)
                            {
                                <li class="page-item active">
                                    <a class="page-link" href="/sanpham/index?page=@(i+1)">
                                        @(i + 1)
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href="/sanpham/index?page=@(i+1)">
                                        @(i + 1)
                                    </a>
                                </li>
                            }
                        }
                        <li class="page-item active">
                            <a class="page-link" href="/sanpham/index?page=@rightPage">
                                >>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        </div>
    </div>
}

